<script>
    import { extent } from "d3-array";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { radialArea } from "d3-shape";



    //data
    export let data = [];
    export let city;
    export let x0 = 0;
    export let myMax = 0;

    const radius = 70;

    console.log("myMax",myMax)


    //scale
    const xScale = scaleLinear()
    .domain(extent(data.map(d=>d.day_of_year)))
    .range([0, 2 * Math.PI]);

    const rScale = scaleRadial()
    .domain([0,myMax])
    .range([0,radius]);

    //drawing
    const drawHeating = radialArea()
    .angle(d => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius(d => rScale(d.heating));

    const drawCooling = radialArea()
    .angle(d => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius(d => rScale(d.cooling));

    
</script>

<g transform="translate({x0 - 4*city.length},25)" >
<text  style="dominant-baseline: middle" > {city}</text></g>
<g transform="translate({x0},125)">
    <circle cx=0 cy=0 r={radius} stroke="black" fill="white"/>
    <line x1=0 y1={-radius} x2=0 y2={radius} stroke="black" stroke-width=1/>
    <line x1={radius} y1=0 x2={-radius} y2=0 stroke="black" stroke-width=1/>
    <path d={drawCooling(data)} fill="steelblue" stroke="steelblue" fill-opacity="0.35" />
    <path d={drawHeating(data)} fill="orange" stroke="orange" fill-opacity="0.35" />   
    <text class="legend" transform="translate(-5,{-radius-5})">0</text>
    <text class="legend" transform="translate({radius+10},5)">3</text>
    <text class="legend" transform="translate(-5,{radius+15})">6</text>
    <text class="legend" transform="translate({-radius-15},5)">9</text>
</g>