<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <!--  -->
  {#if clicked == false}
  <p>You have <span style='color:red'>to</span> click the button!</p>
  {:else}
  <p>You have <span style='color:blue'>clicked</span> the button!</p>
  {/if}
</div>
