<script>
import { each } from "svelte/internal";


    const myself = {name:'Zhihao Zhao', favs:['music','movie']};
</script>

<p>My name is {myself.name} and these are some of my favorite things:</p>
<ul>
    {#each myself.favs as fav}
    <li>{fav}</li>
    {/each}
</ul>

