<script>
  // Properties
  export let data = [];
  export let current_year = 0;
  export let current_continent = "all";
  const continents = ["europe", "asia", "americas", "africa"];
  let paused = true;
  $: paused;

  const timer = setInterval(function() {
    if(!paused) {
      current_year += 1;
      if(current_year > 214) {
        current_year = 0;
      }
    }
  },50);

  function timer_pause(){
    paused = true;
  }

  function timer_play() {
    paused = false;
  }

  function reset() {
    current_year = 0;
    current_continent = "all";
    paused = true;
  }


</script>

<div class="row">
  <!--  -->
  <div class="col-4">
    {#if paused}
    <button type="button" class="btn btn-primary" on:click="{timer_play}">Play</button>
    {:else}
    <button type="button" class="btn btn-warning" on:click="{timer_pause}" >Pause</button>
    {/if}
    <button type="button" class="btn btn-secondary" on:click="{reset}">Reset</button>
  </div>

  <div class="col-5">
    <label class="form-label ">Year: {current_year + 1800}
      <input type="range" class="form-range" min="0" max="214" step="1" bind:value={current_year}>  
    </label>
  </div>

  <div class="col-3">
    <select  class="form-select" bind:value={current_continent}>
      <option value="all" selected="selected">all</option>
      {#each continents as con}
      <option value="{con}">{con}</option>
      {/each} 
    </select>
  </div>
</div>
