<script>
    let count = 0;

    function handleclick(event) {
        count += 1;
    }

    function resetclick(event) {
        count = 0;
    }

</script>

<div>
    <button on:click = {handleclick} class="btn btn-primary">current count: {count}</button>
    <button on:click = {resetclick} class="btn btn-danger">click here to reset the counter</button>
</div>
