<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let year = 0;
  let continent = "all";
  onMount(async () => {
    data = await json("/data/gapminder.json"); 
  });


  const selected_data = function(year,continent) {
    let selected_data = data[year]["countries"];
    if (continent == "all") {
      return selected_data;
    }
    else {
      selected_data = selected_data.filter(d => (d.continent == continent));
      return selected_data;

    }
  };
  $: selected_data;
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selected_data(year,continent)} />
    <Controls data={data} bind:current_year={year} bind:current_continent={continent} />
  </div>
{/if}
