<script>
  import { csv } from "d3-fetch";
import { interpolateMagma } from "d3-scale-chromatic";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  let local_s1 = [];
  let local_s2 = [];
  let global_s = [];
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  function global_identify(s1_list,s2_list) {
    return s1_list.map((value,idx) => s2_list[idx] && value)
  }

  $: global_s = global_identify(local_s1,local_s2);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:local_selected={local_s1} bind:global_selected={global_s} />
  <Scatter {data} {...s2} bind:local_selected={local_s2} bind:global_selected={global_s}/>
{/if}
