<script>
  import { scaleLinear, scaleSqrt, scaleOrdinal } from 'd3-scale';
	import { axisBottom, axisLeft } from "d3-axis";
	import {select} from 'd3-selection';
  import { max } from 'd3-array';
	import { schemeSet3 } from 'd3-scale-chromatic';


  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let mydata;
  export let theyear;

  //Scale
  const x_max = max(mydata, (datum) => +datum.income);
  const y_max = max(mydata, (datum) => +datum.life_exp);
  const r_max = max(mydata, (datum) => +datum.population);

  const xscale = scaleLinear()
  .domain([0,x_max])
  .range([0,innerWidth]);

  const yscale = scaleLinear()
  .domain([0,y_max])
  .range([innerHeight,0]);

  const rscale = scaleSqrt()
  .domain([0,r_max])
  .range([2,25]);

  const colorScale = scaleOrdinal(schemeSet3)
  .domain(["asia", "americas", "europe", "africa"]);

  //Axis
  function x_axis(hdl) { axisBottom()
  .scale(xscale)(select(hdl))};

  function y_axis(hdl) { axisLeft()
  .scale(yscale)(select(hdl));
  };


</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <text x="{innerWidth/2}" y="{innerHeight/2}" style="font-size:80px; opacity:0.3">{theyear}</text>
    {#each mydata as dt}
    {#if dt.life_exp && dt.income}
    <circle cx="{xscale(dt.income)}" cy="{yscale(dt.life_exp)}"
    r="{rscale(dt.population)}"
    fill="{colorScale(dt.continent)}"
    ></circle>
    {/if}
    {/each}
    <text x="{innerWidth/2}" y="{innerHeight+30}" font-size="15" text-anchor="middle" >INCOME</text>
    <text x={-innerHeight/2} y=-30 text-anchor="middle" font-size=15 transform="rotate(-90)">LIFE EXPECTANCY</text>
  </g>
  <g transform="translate({margin.left}, {margin.top+innerHeight})" use:x_axis>
  </g>
  <g transform="translate({margin.left}, {margin.top})" use:y_axis>
  </g>


</svg>

