<script>

  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const centerX = innerWidth / 2 - 20;
  const centerY =innerHeight / 2 -20;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <rect x="{centerX}" y="{centerY}" width='40'height="40" fill="yellow"/>
    <circle cx="calc({centerX} + 40)" cy="calc({centerY} + 40)" r="20" fill="skyblue" />
  
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
