<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];


  const logscale = scaleLog()
  .domain([1,10])
  .range([0,innerWidth]);

 function x_axis(hdl) { axisBottom()
  .scale(logscale)(select(hdl))};



</script>

<svg viewBox="0 0 {width} {height}" id="ex4">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
    <circle cx='{logscale(v)}' cy='{innerHeight / 2}' r='10'/>
    {/each}

  </g>
  <g transform="translate({margin.left},{margin.top+innerHeight})" use:x_axis={"g"}> 
    <!--  -->
  </g>
  <text x="{innerWidth/2}" y="{margin.top+innerHeight+20}">x-axis</text>


</svg>

<style>
  circle {
    fill:purple;
  }

  text {
    fill: currentColor !important;
  }

</style>
