<script>
  import {scaleLinear,scaleOrdinal} from 'd3-scale';
  import {extent} from "d3-array";
  import {schemeCategory10, schemeSet2} from 'd3-scale-chromatic';

  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xscale = scaleLinear()
  .domain([0,10])
  .range([0,innerWidth]);

  const yscale = scaleLinear()
  .domain([0,5])
  .range([0,innerHeight]);

  const colorscale = scaleOrdinal(schemeSet2)
  .domain(extent(values,color => color.category));

  console.log(extent(values,color => color.category));


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as v}
    <circle cx={xscale(v.x)} cy={yscale(v.y)} r=10 fill={colorscale(v.category)}/>   
    <text x={xscale(v.x)} y={yscale(v.y)-10}> {v.y} </text>  
    <line x1={xscale(v.x)} y1={innerHeight}  x2={xscale(v.x)} y2={yscale(v.y)+10} stroke="black"></line>
    {/each}
    <line x1="0" y1="{innerHeight}" x2="{innerWidth}" y2="{innerHeight}" stroke="black" ></line>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
