<script>
  import {scaleLinear, scaleBand} from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const yscale = scaleLinear()
  .domain([0,3])
  .range([innerHeight,0]);

  const xscale = scaleBand()
  .domain(["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten"])
  .range([0, innerWidth])
  .padding([0.2]);

  function x_axis(hdl) { axisBottom()
  .scale(xscale)(select(hdl))};

  function y_axis(hdl) { axisLeft()
  .scale(yscale)(select(hdl));};


</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as d}
			<rect x={xscale(d.service)} y={yscale(d.viewers)} width={xscale.bandwidth()} height={yscale(0)-yscale(d.viewers)} fill="darkviolet"/>
		{/each}
    <text x={-innerHeight/2} y=-30 text-anchor="middle" font-size=15 transform="rotate(-90)">the Number of Viewers</text>
  </g>
  <g transform="translate({margin.left},{margin.top + yscale(0)})" use:x_axis={"g"}></g>
  <g transform="translate({margin.left},{margin.top})" use:y_axis={"g"}>  </g>
</svg>

