<script>
 import Scatterplot from "./_ex_7_scatterplot.svelte";
 import {json} from 'd3-fetch';
 import {onMount} from 'svelte';

 // Dimensions
 const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

 let dataset = null;
 let data = null;
 const year = 1800;

 onMount(async() => {
 dataset = await json('../data/gapminder.json');
 data = dataset.find(d => d.year === '1800').countries;
 });
 
 console.log(dataset);
 console.log(data);

</script>
<div class="w-100 position-absolute mt-2"><h1 class="text-center h5">Gapminder by Hans Rosling</h1></div>
{#if data}
<Scatterplot mydata={data} theyear={year}></Scatterplot>
{:else}
<g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <text x="{innerWidth/2}" y="{innerHeight/2}" style="font-size:80px; opacity:0.3">loading</text>
  </g>
{/if}
